@import "./variables.css";
@import "./base.css";

@import "./layout.css";
@import "./header.css";
@import "./resources.css";

@import "./sidebar/sidebar.css";
@import "./sidebar/buttons/action-buttons.css";
@import "./sidebar/buttons/crank-button.css";
@import "./sidebar/buttons/terminal-button.css";
@import "./sidebar/automations.css";

@import "./skilltree/skill-tree.css";
@import "./skilltree/nodes.css";
@import "./skilltree/connections.css";

@import "./notifications/notifications.css";
@import "./notifications/notification-button.css";
@import "./notifications/notification-history.css";

@import "./changelog.css";
@import "./info-panel.css";